<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97548288463-9r4hlrop3vinvk54ggsckk3cdispp9jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97548288463-9r4hlrop3vinvk54ggsckk3cdispp9jh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>97548288463-5rkom1vcne4p8a26hp63ldpsdkrnd9b3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADlnp9S8xRBR9jCBtIRyGcGUNq4GLxslg</string>
	<key>GCM_SENDER_ID</key>
	<string>97548288463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qbaytek.customer.rn</string>
	<key>PROJECT_ID</key>
	<string>test-cce42</string>
	<key>STORAGE_BUCKET</key>
	<string>test-cce42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97548288463:ios:537512934bfcf7c665d2ba</string>
</dict>
</plist>